:root {
    /* tone set */
    --tone-green: #34d399;
    --tone-green-a: rgba(52, 211, 153, 50%);
    --tone-blue: #46c4ff;
    --tone-blue-a: rgba(71, 197, 255, 50%);
    --tone-orange: #fbbf24;
    --tone-orange-a: rgba(251, 191, 36, 50%);
    --tone-purple: #a78bfa;
    --tone-purple-a: rgba(167, 139, 250, 50%);
    --tone-red: #fa6f76;
    --tone-red-a: rgba(250, 111, 118, 50%);

    /* font set */
    --font-family: "Poppins", sans-serif;
    --text-color: rgb(232, 232, 232);
    --text-color-secondary: #7e8597;
    --text-primary: #222;
    --text-light: #f7faff;
    --text-dark: #222;
    --text-input-color: rgba(255, 255, 255, 0.8);

    --icon-color-secondary: #8d95a8;

    /* utils set */
    --color-danger: #ff384b;
    --color-danger-500: #b32735;
    --color-danger-a: rgba(255, 56, 76, 50%);
    --color-danger-a3: rgba(255, 56, 76, 30%);
    --color-danger-a8: rgba(255, 56, 76, 80%);

    --color-warning: #ff9f42;
    --color-warning-500: #b36f2e;
    --color-warning-a: rgba(255, 161, 66, 50%);
    --color-warning-a3: rgba(255, 161, 66, 30%);
    --color-warning-a8: rgba(255, 161, 66, 80%);

    --color-success: #29c76f;
    --color-success-500: #1d8b4e;
    --color-success-a: rgba(41, 199, 112, 50%);
    --color-success-a3: rgba(41, 199, 112, 30%);
    --color-success-a8: rgba(41, 199, 112, 80%);

    --color-info: #7254f3;
    --color-info-500: #503baa;
    --color-info-a: rgba(113, 84, 242, 50%);
    --color-info-a3: rgba(113, 84, 242, 30%);
    --color-info-a8: rgba(113, 84, 242, 80%);

    --color-unknown: #6878a0;
    --color-unknown-500: #495470;
    --color-unknown-a: rgba(105, 120, 161, 50%);
    --color-unknown-a3: rgba(105, 120, 161, 30%);
    --color-unknown-a8: rgba(105, 120, 161, 80%);

    /* other set */
    --surface-a: #1f2937;
    --surface-highlight: #2a384b;
    --surface-ground: #111827;
    --surface-ground-darker: #f8f8f8;
    --surface-card: #1f2937;
    --surface-border: #111725;
    --surface-input: #111827;
    --surface-input-border: #424b57;
    --surface-scrollbar: #e4e4e4;
    --surface-thumb: #8a8a8a;
    --bg-hl: var(--primary-a2);
    --text-hl: rgba(232, 232, 232, 0.87);

    /* table set */
    --surface-thead: #1f2937;
    --surface-tbody: #1f2937;
    --surface-tfoot: #1f2937;
    --surface-tborder: #111827;
    --text-table: #dfdddd;

    --border-radius: 5px;
    --border-radius-2: 10px;

    --box-shadow: rgba(0, 0, 0, 0.2);
    --box-shadow-set: var(--box-shadow) 0px 8px 24px;
    --box-shadow-set-reverse: var(--box-shadow) 0px -8px 24px;
    --box-shadow-set-hover: var(--box-shadow-a) 0px 7px 29px 0px;

    color-scheme: dark;
}

:root {
    --blue-50: #f6fbfe;
    --blue-100: #d6ecfc;
    --blue-200: #b5ddfa;
    --blue-300: #95cef8;
    --blue-400: #74bff5;
    --blue-500: #54b0f3;
    --blue-600: #4796cf;
    --blue-700: #3b7baa;
    --blue-800: #2e6186;
    --blue-900: #224661;
    --green-50: #f4fcf8;
    --green-100: #ccf2dc;
    --green-200: #a3e7c1;
    --green-300: #7adca6;
    --green-400: #52d28a;
    --green-500: #29c76f;
    --green-600: #23a95e;
    --green-700: #1d8b4e;
    --green-800: #176d3d;
    --green-900: #10502c;
    --yellow-50: #fefdf6;
    --yellow-100: #fcf4d6;
    --yellow-200: #faebb5;
    --yellow-300: #f8e295;
    --yellow-400: #f5d974;
    --yellow-500: #f3d054;
    --yellow-600: #cfb147;
    --yellow-700: #aa923b;
    --yellow-800: #86722e;
    --yellow-900: #615322;
    --cyan-50: #f5fcfd;
    --cyan-100: #d1f2f5;
    --cyan-200: #ace8ed;
    --cyan-300: #87dee6;
    --cyan-400: #63d3de;
    --cyan-500: #3ec9d6;
    --cyan-600: #35abb6;
    --cyan-700: #2b8d96;
    --cyan-800: #226f76;
    --cyan-900: #195056;
    --pink-50: #fef6f7;
    --pink-100: #fad6d6;
    --pink-200: #f6b5b6;
    --pink-300: #f29596;
    --pink-400: #ee7475;
    --pink-500: #ea5455;
    --pink-600: #c74748;
    --pink-700: #a43b3c;
    --pink-800: #812e2f;
    --pink-900: #5e2222;
    --indigo-50: #f6f7fe;
    --indigo-100: #d6dafc;
    --indigo-200: #b5bcfa;
    --indigo-300: #959ff8;
    --indigo-400: #7481f5;
    --indigo-500: #5464f3;
    --indigo-600: #4755cf;
    --indigo-700: #3b46aa;
    --indigo-800: #2e3786;
    --indigo-900: #222861;
    --teal-50: #f3fcf9;
    --teal-100: #c5f1e1;
    --teal-200: #97e5c9;
    --teal-300: #69dab1;
    --teal-400: #3bce99;
    --teal-500: #0dc381;
    --teal-600: #0ba66e;
    --teal-700: #09895a;
    --teal-800: #076b47;
    --teal-900: #054e34;
    --orange-50: #fffaf6;
    --orange-100: #ffe8d2;
    --orange-200: #ffd6ae;
    --orange-300: #ffc38a;
    --orange-400: #ffb166;
    --orange-500: #ff9f42;
    --orange-600: #d98738;
    --orange-700: #b36f2e;
    --orange-800: #8c5724;
    --orange-900: #66401a;
    --bluegray-50: #f7f8fa;
    --bluegray-100: #dbdfe8;
    --bluegray-200: #bec5d6;
    --bluegray-300: #a1abc4;
    --bluegray-400: #8592b2;
    --bluegray-500: #6878a0;
    --bluegray-600: #586688;
    --bluegray-700: #495470;
    --bluegray-800: #394258;
    --bluegray-900: #2a3040;
    --purple-50: #f8f6fe;
    --purple-100: #ddd6fc;
    --purple-200: #c2b5fa;
    --purple-300: #a895f8;
    --purple-400: #8d74f5;
    --purple-500: #7254f3;
    --purple-600: #6147cf;
    --purple-700: #503baa;
    --purple-800: #3f2e86;
    --purple-900: #2e2261;
    --red-50: #fff5f6;
    --red-100: #ffcfd4;
    --red-200: #ffa9b2;
    --red-300: #ff848f;
    --red-400: #ff5e6d;
    --red-500: #ff384b;
    --red-600: #d93040;
    --red-700: #b32735;
    --red-800: #8c1f29;
    --red-900: #66161e;
}

.d-button {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    color: var(--text-primary);
    font-weight: 700;
    user-select: none;
    transition: all 0.2s ease;
    outline: none;
    transition: all 0.2s ease;
    cursor: pointer;

    &.d-button-icon-only {
        padding: 0.75rem;
    }

    .d-button-ins {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    span.d-button-icon {
        font-size: 1rem;
    }

    span.d-button-label {
        user-select: none;
        line-height: 1rem;
    }
}

@media screen and (max-width: 640px) {
    .d-button > .d-button-ins > .d-button-icon {
        font-size: 1rem;
    }
}

.d-button-rounded,
.d-button-rounded-icon {
    border-radius: 2rem;
}

.d-button-rounded-icon {
    padding: 0.75rem;
}

.d-button-outline {
    background: transparent !important;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.d-button-gap {
    gap: 0.5rem;
}
.d-button-hover:not(.d-button-disabled):hover {
    /* background: var(--primary-300); */
    filter: brightness(85%);
}
.d-button-active:not(.d-button-disabled):active {
    /* background: var(--primary-400); */
    filter: brightness(75%);
}
.d-button.d-button-disabled {
    filter: opacity(70%);
    cursor: default;
}
.d-button-primary {
    background: var(--primary);

    &.d-button-focus:focus {
        box-shadow: 0 0 0 1.5px var(--surface-ground),
            0 0 0 3px var(--primary-a);
        outline: 0 none;
    }
}
.d-button-success {
    background: var(--color-success);

    &.d-button-focus:focus {
        box-shadow: 0 0 0 1.5px var(--surface-ground),
            0 0 0 3px var(--color-success-a);
        outline: 0 none;
    }
}
.d-button-danger {
    background: var(--color-danger);

    &.d-button-focus:focus {
        box-shadow: 0 0 0 1.5px var(--surface-ground),
            0 0 0 3px var(--color-danger-a);
        outline: 0 none;
    }
}
.d-button-warning {
    background: var(--color-warning);

    &.d-button-focus:focus {
        box-shadow: 0 0 0 1.5px var(--surface-ground),
            0 0 0 3px var(--color-warning-a);
        outline: 0 none;
    }
}
.d-button-info {
    background: var(--color-info);

    &.d-button-focus:focus {
        box-shadow: 0 0 0 1.5px var(--surface-ground),
            0 0 0 3px var(--color-info-a);
        outline: 0 none;
    }
}
.d-button-unknown {
    background: var(--color-unknown);

    &.d-button-focus:focus {
        box-shadow: 0 0 0 1.5px var(--surface-ground),
            0 0 0 3px var(--color-unknown-a);
        outline: 0 none;
    }
}

.d-inputpassword-set {
    position: relative;
    display: flex;
    align-items: center;

    input {
        width: 100%;
    }

    .d-inputpassword-eye {
        position: absolute;
        color: var(--text-color-secondary);
        right: 1rem;
        cursor: pointer;
        user-select: none;
        font-size: 1.3rem;
        -webkit-tap-highlight-color: transparent;
    }
}

/* RADIOBUTTON STYLE START */
.p-radiobutton {
    width: 22px;
    height: 22px;
}
.p-radiobutton .p-radiobutton-box {
    border: 2px solid var(--surface-input-border);
    background: var(--surface-ground);
    width: 22px;
    height: 22px;
    color: #495057;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
}
.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: var(--primary-a);
}
.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem var(--primary-a);
    border-color: var(--primary-a);
}
.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    width: 12px;
    height: 12px;
    transition-duration: 0.2s;
    background-color: var(--surface-ground);
}
.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: var(--primary);
    background: var(--primary);
}
.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: var(--primary-300);
    background: var(--primary-300);
    color: #fff;
}
.p-radiobutton.p-invalid > .p-radiobutton-box {
    border-color: #e24c4c;
}
.p-radiobutton:focus {
    outline: 0 none;
}
.p-input-filled .p-radiobutton .p-radiobutton-box {
    background-color: var(--surface-ground);
}
.p-input-filled .p-radiobutton .p-radiobutton-box:not(.p-disabled):hover {
    background-color: var(--surface-ground);
}
.p-input-filled .p-radiobutton .p-radiobutton-box.p-highlight {
    background: var(--primary);
}
.p-input-filled
    .p-radiobutton
    .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    background: var(--primary-300);
}
/* RADIOBUTTON STYLE END */

/* INPUTTEXT STYLE START */
.p-inputtext {
    font-family: var(--font-family);
    font-size: 13px;
    color: var(--text-input-color);
    background: var(--surface-input);
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--surface-input-border);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
    appearance: none;
    border-radius: var(--border-radius);
}
.p-inputtext:enabled:hover {
    border-color: var(--primary);
}
.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem var(--primary-a3);
    border-color: var(--primary);
}
.p-inputtext.p-invalid.p-component {
    border-color: #e24c4c;
}
::-webkit-input-placeholder {
    color: #6c757d;
}
:-moz-placeholder {
    color: #6c757d;
}
::-moz-placeholder {
    color: #6c757d;
}
:-ms-input-placeholder {
    color: #6c757d;
}
.p-input-filled .p-inputtext {
    background-color: var(--surface-input);
}
.p-input-filled .p-inputtext:enabled:hover {
    background-color: var(--surface-input);
}
.p-input-filled .p-inputtext:enabled:focus {
    background-color: var(--surface-input);
}
/* INPUTTEXT STYLE END */

/* CHECKBOX STYLE START */
.p-checkbox {
    width: 22px;
    height: 22px;
}
.p-checkbox .p-checkbox-box {
    border: 2px solid var(--surface-input-border);
    background: var(--surface-input);
    width: 22px;
    height: 22px;
    color: #495057;
    border-radius: 6px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: var(--surface-input);
    font-size: 14px;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon.p-icon {
    width: 14px;
    height: 14px;
}
.p-checkbox .p-checkbox-box.p-highlight {
    border-color: var(--primary);
    background: var(--primary);
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: var(--primary-a);
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem var(--primary-a3);
    border-color: var(--primary-a);
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: var(--primary);
    background: var(--primary);
    color: var(--text-primary);
}
.p-checkbox.p-invalid > .p-checkbox-box {
    border-color: #e24c4c;
}
.p-input-filled .p-checkbox .p-checkbox-box {
    background-color: var(--surface-input);
}
.p-input-filled .p-checkbox .p-checkbox-box.p-highlight {
    background: var(--primary);
}
.p-input-filled .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    background-color: var(--surface-input);
}
.p-input-filled
    .p-checkbox:not(.p-checkbox-disabled)
    .p-checkbox-box.p-highlight:hover {
    background: var(--primary);
}
/* CHECKBOX STYLE END */

/* TOAST STYLE START */
.p-toast {
    opacity: 0.9;
}
.p-toast .p-toast-message {
    margin: 0 0 1rem 0;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
.p-toast .p-toast-message .p-toast-message-content {
    padding: 1rem;
    border-width: 0 0 0 6px;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
    margin: 0 0 0 1rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
    font-size: 2rem;
}
.p-toast
    .p-toast-message
    .p-toast-message-content
    .p-toast-message-icon.p-icon {
    width: 2rem;
    height: 2rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
    font-weight: 700;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    margin: 0.5rem 0 0 0;
}
.p-toast .p-toast-message .p-toast-icon-close {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: transparent;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-toast .p-toast-message .p-toast-icon-close:hover {
    background: rgba(255, 255, 255, 0.3);
}
.p-toast .p-toast-message .p-toast-icon-close:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #d1ebff;
}
.p-toast .p-toast-message.p-toast-message-info {
    background: #e9e9ff;
    border: solid #696cff;
    border-width: 0 0 0 6px;
    color: #696cff;
}
.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
    color: #696cff;
}
.p-toast .p-toast-message.p-toast-message-success {
    background: #e4f8f0;
    border: solid #1ea97c;
    border-width: 0 0 0 6px;
    color: #1ea97c;
}
.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
    color: #1ea97c;
}
.p-toast .p-toast-message.p-toast-message-warn {
    background: #fff2e2;
    border: solid #cc8925;
    border-width: 0 0 0 6px;
    color: #cc8925;
}
.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
    color: #cc8925;
}
.p-toast .p-toast-message.p-toast-message-error {
    background: #ffe7e6;
    border: solid #ff5757;
    border-width: 0 0 0 6px;
    color: #ff5757;
}
.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
    color: #ff5757;
}
/* TOAST STYLE END */

/* PAGINATOR STYLE START */
.p-paginator {
    background: var(--surface-a);
    color: #6c757d;
    border: solid #e9ecef;
    border-width: 0;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
    background-color: transparent;
    border: 0 none;
    color: #6c757d;
    min-width: 3rem;
    height: 3rem;
    margin: 0.143rem;
    transition: box-shadow 0.2s;
    border-radius: 50%;
}
.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
    background: var(--surface-highlight);
    border-color: transparent;
}
.p-paginator .p-paginator-first {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.p-paginator .p-paginator-last {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.p-paginator .p-dropdown {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 3rem;
}
.p-paginator .p-dropdown .p-dropdown-label {
    padding-right: 0;
}
.p-paginator .p-paginator-page-input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.p-paginator .p-paginator-page-input .p-inputtext {
    max-width: 3rem;
}
.p-paginator .p-paginator-current {
    background-color: transparent;
    border: 0 none;
    color: #6c757d;
    min-width: 3rem;
    height: 3rem;
    margin: 0.143rem;
    padding: 0 0.5rem;
}
.p-paginator .p-paginator-pages .p-paginator-page {
    background-color: transparent;
    border: 0 none;
    color: #6c757d;
    min-width: 3rem;
    height: 3rem;
    margin: 0.143rem;
    transition: box-shadow 0.2s;
    border-radius: 50%;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: var(--primary-a1);
    border-color: #eef2ff;
    color: var(--primary);
}
.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    background: var(--surface-highlight);
    border-color: transparent;
}
/* PAGINATOR STYLE END */

/* DIALOG STYLE START */
.p-dialog-mask {
    background-color: rgba(0, 0, 0, 0.4);
}
.p-dialog {
    border-radius: var(--border-radius);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: 0 none;
}
.p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: var(--surface-card);
    color: var(--text-color);
    padding: 1.5rem;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}
.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600;
    font-size: 1.25rem;
}
.p-dialog .p-dialog-header .p-dialog-header-icon {
    width: 2rem;
    height: 2rem;
    color: var(--surface-icon-secondary);
    border: 0 none;
    background: transparent;
    border-radius: var(--border-radius);
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin-right: 0.5rem;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
    color: var(--surface-icon-secondary);
    border-color: transparent;
    background: var(--primary-a0);
}
.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 2px var(--primary-a);
}
.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
    margin-right: 0;
}
.p-dialog .p-dialog-content {
    background: var(--surface-card);
    color: var(--text-color);
    padding: 0 1.5rem 2rem 1.5rem;
}
.p-dialog .p-dialog-content:last-of-type {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
.p-dialog .p-dialog-footer {
    border-top: 0 none;
    background: var(--surface-card);
    color: var(--text-color);
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: right;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
.p-dialog .p-dialog-footer button {
    margin: 0 0.5rem 0 0;
    width: auto;
}
.p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
    font-size: 2rem;
}
.p-dialog.p-confirm-dialog .p-confirm-dialog-message:not(:first-child) {
    margin-left: 1rem;
}
/* DIALOG STYLE END */

/* TABLE STYLE START */
.p-datatable .p-paginator-top {
    border-width: 0 0 1px 0;
    border-radius: 0;
}
.p-datatable .p-paginator-bottom {
    border-width: 0 0 1px 0;
    border-radius: 0;
}
.p-datatable .p-datatable-header {
    background: var(--surface-thead);
    color: var(--text-table);
    border: 1px solid var(--surface-tborder);
    border-width: 1px 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 700;
}
.p-datatable .p-datatable-footer {
    background: var(--surface-tfoot);
    color: var(--text-table);
    border: 1px solid var(--surface-tborder);
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 700;
}
.p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid var(--surface-tborder);
    border-width: 0 0 1px 0;
    font-weight: 700;
    color: var(--text-table);
    background: var(--surface-thead);
    transition: box-shadow 0.2s;
}
.p-datatable .p-datatable-tfoot > tr > td {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid var(--surface-tborder);
    border-width: 0 0 1px 0;
    font-weight: 700;
    color: var(--text-table);
    background: var(--surface-tfoot);
}
.p-datatable .p-sortable-column .p-sortable-column-icon {
    color: var(--text-table);
    margin-left: 0.5rem;
}
.p-datatable .p-sortable-column .p-sortable-column-badge {
    border-radius: 50%;
    height: 1.143rem;
    min-width: 1.143rem;
    line-height: 1.143rem;
    color: #3278ae;
    background: var(--surface-tbody);
    margin-left: 0.5rem;
}
.p-datatable .p-sortable-column:not(.p-highlight):hover {
    background: #e9ecef;
    color: #343a40;
}
.p-datatable
    .p-sortable-column:not(.p-highlight):hover
    .p-sortable-column-icon {
    color: var(--text-table);
}
.p-datatable .p-sortable-column.p-highlight {
    background: #eef2ff;
    color: #3278ae;
}
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: #3278ae;
}
.p-datatable .p-sortable-column.p-highlight:hover {
    background: #eef2ff;
    color: #3278ae;
}
.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
    color: #3278ae;
}
.p-datatable .p-sortable-column:focus {
    box-shadow: inset 0 0 0 0.15rem #d1ebff;
    outline: 0 none;
}
.p-datatable .p-datatable-tbody > tr {
    background: var(--surface-tbody);
    color: var(--text-table);
    transition: box-shadow 0.2s;
}
.p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid var(--surface-tborder);
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
}
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel {
    width: 2rem;
    height: 2rem;
    color: #6c757d;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:enabled:hover {
    color: #343a40;
    border-color: transparent;
    background: #e9ecef;
}
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #d1ebff;
}
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save {
    margin-right: 0.5rem;
}
.p-datatable .p-datatable-tbody > tr > td > .p-column-title {
    font-weight: 700;
}
.p-datatable .p-datatable-tbody > tr:focus {
    outline: 0.15rem solid var(--primary-a2);
    outline-offset: -0.15rem;
}
.p-datatable .p-datatable-tbody > tr.p-highlight {
    background: #eef2ff;
    color: #3278ae;
}
.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-top > td {
    box-shadow: inset 0 2px 0 0 #eef2ff;
}
.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-bottom > td {
    box-shadow: inset 0 -2px 0 0 #eef2ff;
}
.p-datatable.p-datatable-hoverable-rows
    .p-datatable-tbody
    > tr:not(.p-highlight):hover {
    background: #e9ecef;
    color: #495057;
}
.p-datatable .p-column-resizer-helper {
    background: #2196f3;
}
.p-datatable .p-datatable-scrollable-header,
.p-datatable .p-datatable-scrollable-footer {
    background: #f3f5f7;
}
.p-datatable.p-datatable-scrollable
    > .p-datatable-wrapper
    > .p-datatable-table
    > .p-datatable-thead,
.p-datatable.p-datatable-scrollable
    > .p-datatable-wrapper
    > .p-datatable-table
    > .p-datatable-tfoot,
.p-datatable.p-datatable-scrollable
    > .p-datatable-wrapper
    > .p-virtualscroller
    > .p-datatable-table
    > .p-datatable-thead,
.p-datatable.p-datatable-scrollable
    > .p-datatable-wrapper
    > .p-virtualscroller
    > .p-datatable-table
    > .p-datatable-tfoot {
    background-color: #f3f5f7;
}
.p-datatable .p-datatable-loading-icon {
    font-size: 2rem;
}
.p-datatable .p-datatable-loading-icon.p-icon {
    width: 2rem;
    height: 2rem;
}
.p-datatable.p-datatable-gridlines .p-datatable-header {
    border-width: 1px 1px 0 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-footer {
    border-width: 0 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-paginator-top {
    border-width: 0 1px 0 1px;
}
.p-datatable.p-datatable-gridlines .p-paginator-bottom {
    border-width: 0 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
    border-width: 1px 0 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th:last-child {
    border-width: 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
    border-width: 1px 0 0 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td:last-child {
    border-width: 1px 1px 0 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr:last-child > td {
    border-width: 1px 0 1px 1px;
}
.p-datatable.p-datatable-gridlines
    .p-datatable-tbody
    > tr:last-child
    > td:last-child {
    border-width: 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-tfoot > tr > td {
    border-width: 1px 0 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-tfoot > tr > td:last-child {
    border-width: 1px 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines
    .p-datatable-thead
    + .p-datatable-tfoot
    > tr
    > td {
    border-width: 0 0 1px 1px;
}
.p-datatable.p-datatable-gridlines
    .p-datatable-thead
    + .p-datatable-tfoot
    > tr
    > td:last-child {
    border-width: 0 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(
        .p-datatable-tbody
    )
    .p-datatable-tbody
    > tr
    > td {
    border-width: 0 0 1px 1px;
}
.p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(
        .p-datatable-tbody
    )
    .p-datatable-tbody
    > tr
    > td:last-child {
    border-width: 0 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines:has(.p-datatable-tbody):has(
        .p-datatable-tfoot
    )
    .p-datatable-tbody
    > tr:last-child
    > td {
    border-width: 0 0 0 1px;
}
.p-datatable.p-datatable-gridlines:has(.p-datatable-tbody):has(
        .p-datatable-tfoot
    )
    .p-datatable-tbody
    > tr:last-child
    > td:last-child {
    border-width: 0 1px 0 1px;
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
    background: #fcfcfc;
}
.p-datatable.p-datatable-striped
    .p-datatable-tbody
    > tr:nth-child(even).p-highlight {
    background: #eef2ff;
    color: #3278ae;
}
.p-datatable.p-datatable-striped
    .p-datatable-tbody
    > tr:nth-child(even).p-highlight
    .p-row-toggler {
    color: #3278ae;
}
.p-datatable.p-datatable-striped
    .p-datatable-tbody
    > tr:nth-child(even).p-highlight
    .p-row-toggler:hover {
    color: #3278ae;
}
.p-datatable.p-datatable-sm .p-datatable-header {
    padding: 0.5rem 0.5rem;
}
.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
    padding: 0.5rem 0.5rem;
}
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
    padding: 0.5rem 0.5rem;
}
.p-datatable.p-datatable-sm .p-datatable-tfoot > tr > td {
    padding: 0.5rem 0.5rem;
}
.p-datatable.p-datatable-sm .p-datatable-footer {
    padding: 0.5rem 0.5rem;
}
.p-datatable.p-datatable-lg .p-datatable-header {
    padding: 1.25rem 1.25rem;
}
.p-datatable.p-datatable-lg .p-datatable-thead > tr > th {
    padding: 1.25rem 1.25rem;
}
.p-datatable.p-datatable-lg .p-datatable-tbody > tr > td {
    padding: 1.25rem 1.25rem;
}
.p-datatable.p-datatable-lg .p-datatable-tfoot > tr > td {
    padding: 1.25rem 1.25rem;
}
.p-datatable.p-datatable-lg .p-datatable-footer {
    padding: 1.25rem 1.25rem;
}
/* TABLE STYLE END */

/* DATAVIEW STYLE START */
.p-dataview .p-paginator-top {
    border-width: 0 0 1px 0;
    border-radius: 0;
}
.p-dataview .p-paginator-bottom {
    border-width: 0 0 1px 0;
    border-radius: 0;
}
.p-dataview .p-dataview-header {
    background: var(--surface-a);
    color: var(--text-color);
    border: 1px solid var(--surface-border);
    border-width: 1px 0 1px 0;
    padding: 1rem 0;
    font-weight: 700;
}
.p-dataview .p-dataview-content {
    background: var(--surface-a);
    color: var(--text-table);
    border: 0 none;
    padding: 0;
}
.p-dataview.p-dataview-list .p-dataview-content > .p-grid > div {
    border: solid var(--surface-border);
    border-width: 0 0 1px 0;
}
.p-dataview .p-dataview-footer {
    background: var(--surface-a);
    color: var(--text-color);
    border: 1px solid var(--surface-border);
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 700;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
/* DATAVIEW STYLE END */

/* SKELETON STYLE START */
.p-skeleton {
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 6px;
}
.p-skeleton:after {
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.04),
        rgba(255, 255, 255, 0)
    );
}
/* SKELETON STYLE END */

/* OVERLAYPANEL STYLE START */
.p-overlaypanel {
    background: var(--surface-card);
    color: var(--text-color);
    border: 0 none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-set);
}
.p-overlaypanel .p-overlaypanel-content {
    padding: 1.25rem;
}
.p-overlaypanel .p-overlaypanel-close {
    background: var(--primary);
    color: var(--text-primary);
    width: 2rem;
    height: 2rem;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 50%;
    position: absolute;
    top: -1rem;
    right: -1rem;
}
.p-overlaypanel .p-overlaypanel-close:enabled:hover {
    background: var(--primary);
    color: var(--text-primary);
}
/* .p-overlaypanel:after {
    border: solid transparent;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
} */
.p-overlaypanel:before {
    border: solid transparent;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: var(--surface-a);
}
.p-overlaypanel.p-overlaypanel-flipped:after {
    border-top-color: var(--surface-a);
}
.p-overlaypanel.p-overlaypanel-flipped:before {
    border-top-color: var(--surface-a);
}
/* OVERLAYPANEL STYLE END */

/* DROPDOWN STYLE START */
.p-dropdown {
    background: var(--surface-input);
    border: 1px solid var(--surface-input-border);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
    border-radius: 6px;
    font-weight: 400;
}
.p-dropdown:not(.p-disabled):hover {
    border-color: var(--primary);
}
.p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem var(--primary-a3);
    border-color: var(--primary);
}
.p-dropdown.p-dropdown-clearable .p-dropdown-label {
    padding-right: 1.75rem;
}
.p-dropdown .p-dropdown-label {
    background: transparent;
    border: 0 none;
}
.p-dropdown .p-dropdown-label.p-placeholder {
    color: #6c757d;
}
.p-dropdown .p-dropdown-label:focus,
.p-dropdown .p-dropdown-label:enabled:focus {
    outline: 0 none;
    box-shadow: none;
}
.p-dropdown .p-dropdown-trigger {
    background: transparent;
    color: #6c757d;
    width: 3rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.p-dropdown .p-dropdown-clear-icon {
    color: #6c757d;
    right: 3rem;
}
.p-dropdown.p-invalid.p-component {
    border-color: #e24c4c;
}
.p-dropdown-panel {
    background: var(--surface-a);
    color: var(--text-input-color);
    border: 0 none;
    border-radius: 6px;
    box-shadow: var(--box-shadow-set);
}
.p-dropdown-panel .p-dropdown-header {
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid var(--surface-border);
    color: var(--text-color);
    background: var(--surface-a);
    margin: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
    padding-right: 1.75rem;
    margin-right: -1.75rem;
}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {
    top: 1rem;
    right: 0.75rem;
    color: #6c757d;
    fill: #6c757d;
}
.p-dropdown-panel .p-dropdown-items {
    padding: 0.75rem 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    margin: 0;
    padding: 0.75rem 1.25rem;
    border: 0 none;
    color: var(--text-input-color);
    background: transparent;
    transition: box-shadow 0.2s;
    border-radius: 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: var(--primary);
    background: var(--primary-a3);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
    background: var(--primary-a3);
}
.p-dropdown-panel
    .p-dropdown-items
    .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
    color: var(--primary);
    background: var(--primary-a3);
}
.p-dropdown-panel
    .p-dropdown-items
    .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    color: var(--primary);
    background: var(--primary-a0);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item-group {
    margin: 0;
    padding: 0.75rem 1.25rem;
    color: var(--text-input-color);
    background: var(--surface-a);
    font-weight: 700;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
    padding: 0.75rem 1.25rem;
    color: #495057;
    background: transparent;
}
/* DROPDOWN STYLE END */

/* DATEPICKER STYLE START */
.p-calendar.p-invalid.p-component > .p-inputtext {
    border-color: #e24c4c;
}
.p-datepicker {
    padding: 0.5rem;
    background: var(--surface-input);
    color: var(--text-color-secondary);
    border: 1px solid var(--surface-input-border);
    border-radius: 6px;
}
.p-datepicker:not(.p-datepicker-inline) {
    background: var(--surface-input);
    border: 0 none;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
    background: var(--surface-input);
}
.p-datepicker .p-datepicker-header {
    padding: 0.5rem;
    color: var(--text-color-secondary);
    background: var(--surface-input);
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid var(--surface-input-border);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next {
    width: 2rem;
    height: 2rem;
    color: var(--text-color-secondary);
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-datepicker .p-datepicker-header .p-datepicker-prev:enabled:hover,
.p-datepicker .p-datepicker-header .p-datepicker-next:enabled:hover {
    color: var(--text-color);
    border-color: transparent;
    background: var(--primary-a0);
}
.p-datepicker .p-datepicker-header .p-datepicker-prev:focus,
.p-datepicker .p-datepicker-header .p-datepicker-next:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem var(--primary-a3);
}
.p-datepicker .p-datepicker-header .p-datepicker-title {
    line-height: 2rem;
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    color: var(--text-color-secondary);
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    font-weight: 600;
    padding: 0.5rem;
}
.p-datepicker
    .p-datepicker-header
    .p-datepicker-title
    .p-datepicker-year:enabled:hover,
.p-datepicker
    .p-datepicker-header
    .p-datepicker-title
    .p-datepicker-month:enabled:hover {
    color: var(--primary);
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    margin-right: 0.5rem;
}
.p-datepicker table {
    font-size: 1rem;
    margin: 0.5rem 0;
}
.p-datepicker table th {
    padding: 0.5rem;
}
.p-datepicker table th > span {
    width: 2.5rem;
    height: 2.5rem;
}
.p-datepicker table td {
    padding: 0.5rem;
}
.p-datepicker table td > span {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: box-shadow 0.2s;
    border: 1px solid transparent;
}
.p-datepicker table td > span.p-highlight {
    color: var(--primary);
    background: var(--primary-a2);
}
.p-datepicker table td > span:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem var(--primary-a3);
}
.p-datepicker table td.p-datepicker-today > span {
    color: var(--primary);
    border-color: transparent;
}
.p-datepicker table td.p-datepicker-today > span.p-highlight {
    color: var(--primary);
    background: var(--primary-a2);
}
.p-datepicker .p-datepicker-buttonbar {
    padding: 1rem 0;
    border-top: 1px solid var(--surface-input-border);
}
.p-datepicker .p-datepicker-buttonbar .p-button {
    width: auto;
}
.p-datepicker .p-timepicker {
    border-top: 1px solid var(--surface-input-border);
    padding: 0.5rem;
}
.p-datepicker .p-timepicker button {
    width: 2rem;
    height: 2rem;
    color: var(--text-color-secondary);
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-datepicker .p-timepicker button:enabled:hover {
    color: var(--primary);
    border-color: transparent;
    background: var(--primary-a0);
}
.p-datepicker .p-timepicker button:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem var(--primary-a3);
}
.p-datepicker .p-timepicker button:last-child {
    margin-top: 0.2em;
}
.p-datepicker .p-timepicker span {
    font-size: 1.25rem;
}
.p-datepicker .p-timepicker > div {
    padding: 0 0.5rem;
}
.p-datepicker.p-datepicker-timeonly .p-timepicker {
    border-top: 0 none;
}
.p-datepicker .p-monthpicker {
    margin: 0.5rem 0;
}
.p-datepicker .p-monthpicker .p-monthpicker-month {
    padding: 0.5rem;
    transition: box-shadow 0.2s;
    border-radius: 6px;
}
.p-datepicker .p-monthpicker .p-monthpicker-month.p-highlight {
    color: var(--primary);
    background: var(--primary-a2);
}
.p-datepicker .p-yearpicker {
    margin: 0.5rem 0;
}
.p-datepicker .p-yearpicker .p-yearpicker-year {
    padding: 0.5rem;
    transition: box-shadow 0.2s;
    border-radius: 6px;
}
.p-datepicker .p-yearpicker .p-yearpicker-year.p-highlight {
    color: var(--primary);
    background: var(--primary-a2);
}
.p-datepicker.p-datepicker-multiple-month .p-datepicker-group {
    border-left: 1px solid var(--surface-input-border);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
}
.p-datepicker.p-datepicker-multiple-month .p-datepicker-group:first-child {
    padding-left: 0;
    border-left: 0 none;
}
.p-datepicker.p-datepicker-multiple-month .p-datepicker-group:last-child {
    padding-right: 0;
}
.p-datepicker:not(.p-disabled)
    table
    td
    span:not(.p-highlight):not(.p-disabled):hover {
    background: var(--primary-a0);
}
.p-datepicker:not(.p-disabled)
    table
    td
    span:not(.p-highlight):not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem var(--primary-a3);
}
.p-datepicker:not(.p-disabled)
    .p-monthpicker
    .p-monthpicker-month:not(.p-disabled):not(.p-highlight):hover {
    background: var(--primary-a0);
}
.p-datepicker:not(.p-disabled)
    .p-monthpicker
    .p-monthpicker-month:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem var(--primary-a3);
}
.p-datepicker:not(.p-disabled)
    .p-yearpicker
    .p-yearpicker-year:not(.p-disabled):not(.p-highlight):hover {
    background: var(--primary-a0);
}
.p-datepicker:not(.p-disabled)
    .p-yearpicker
    .p-yearpicker-year:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem var(--primary-a3);
}
@media screen and (max-width: 769px) {
    .p-datepicker table th,
    .p-datepicker table td {
        padding: 0;
    }
}
/* DATEPICKER STYLE END */
