@media screen and (max-width: 991px) {
    .layout-staticmenu-active,
    .layout-overlaymenu-active {
        .layout-sidebar {
            transform: translateX(-251px);
        }

        .layout-container {
            margin-left: 20px;
        }

        &.layout-staticmenu-mobile {
            .layout-sidebar {
                transform: translateX(0);
            }
        }
    }

    .layout-help-nav {
        .span-nav-button.left-labeled {
            span:first-child {
                display: none;
            }
        }
    }
}
