.layout-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 270px;
    user-select: none;
    transform: translateX(0);
    transition: transform 0.2s ease;
    z-index: 10;

    .layout-comp-logo {
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--text-color);
        padding: 15px 1.5rem;
        margin-bottom: 15px;
        background-color: var(--surface-a);
        border-bottom: 1px solid var(--surface-border);

        img {
            aspect-ratio: 1 / 1;
            height: 1.5rem;
        }
        span {
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.layout-staticmenu-desktop-inactive,
.layout-overlaymenu-active {
    .layout-sidebar {
        transform: translateX(-271px);
    }

    &.layout-staticmenu-mobile {
        .layout-sidebar {
            transform: translateX(0);
        }
    }
}

.layout-sidebar {
    .layout-sidebar-content {
        width: 100%;
        height: 100%;

        background-color: var(--surface-a);
        box-shadow: var(--box-shadow-set);

        .layout-menu {
            display: flex;
            flex-direction: column;
            height: calc(100% - 30px - 15px - 3rem);
            overflow-y: auto;

            .layout-root-menuitem {
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 10px 0;

                .layout-root-label {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    padding: 0 0 0 1.5rem;
                }

                > a {
                    display: none;
                }

                .layout-submenu {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .layout-submenu-item {
                        transition: all 0.2s ease;

                        .layout-submenu {
                            .layout-submenu-item {
                                padding: 0;
                            }
                        }

                        a {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            transition: all 0.2s ease;

                            &:hover {
                                background-color: var(--primary-a1);

                                span:first-of-type {
                                    color: var(--primary);
                                }
                                span:nth-of-type(2) {
                                    color: var(--primary);
                                }
                            }

                            &.active-menuitem {
                                background-color: var(--primary);

                                span:first-of-type {
                                    color: var(--text-primary);
                                }
                                span:nth-of-type(2) {
                                    color: var(--text-primary);
                                }
                            }

                            span:first-of-type {
                                margin-right: 5px;
                                color: var(--icon-color-secondary);
                            }
                            span:nth-of-type(2) {
                                text-transform: capitalize;
                                color: var(--text-color-secondary);
                            }
                            span:last-of-type {
                                margin-left: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

.layout-menustyle-sticky {
    .layout-sidebar {
        .layout-sidebar-content {
            .layout-menu {
                .layout-root-menuitem {
                    .layout-submenu {
                        .layout-submenu-item {
                            a {
                                padding: 7px 15px 7px 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.layout-menustyle-boxes {
    .layout-sidebar {
        padding: 15px 0 15px 1rem;

        .layout-sidebar-content {
            padding: 5px 0 0 0;
            border-radius: var(--border-radius-2);
            overflow: hidden;

            .layout-menu {
                .layout-root-menuitem {
                    .layout-submenu {
                        .layout-submenu-item {
                            a {
                                padding: 7px 15px 7px 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.layout-activemenustyle-rounded-right {
    .layout-sidebar {
        .layout-sidebar-content {
            .layout-menu {
                .layout-root-menuitem {
                    .layout-submenu {
                        .layout-submenu-item {
                            padding: 0 1.5rem 0 0;

                            .layout-submenu {
                                .layout-submenu-item {
                                    a {
                                        padding-left: calc(
                                            15px + 1.5rem + 2rem
                                        );
                                    }

                                    .layout-submenu {
                                        .layout-submenu-item {
                                            a {
                                                padding-left: calc(
                                                    15px + 1.5rem + 2rem + 2rem
                                                );
                                            }
                                        }
                                    }
                                }
                            }

                            a {
                                border-top-right-radius: var(--border-radius);
                                border-bottom-right-radius: var(
                                    --border-radius
                                );
                                padding-left: calc(15px + 1.5rem);
                            }
                        }
                    }
                }
            }
        }
    }
}

.layout-activemenustyle-rounded-all {
    .layout-sidebar {
        .layout-sidebar-content {
            .layout-menu {
                .layout-root-menuitem {
                    .layout-submenu {
                        .layout-submenu-item {
                            padding: 0 1.5rem 0 1.5rem;

                            .layout-submenu {
                                .layout-submenu-item {
                                    a {
                                        width: calc(100% - 2rem);
                                        margin-left: 2rem;
                                    }

                                    .layout-submenu {
                                        .layout-submenu-item {
                                            a {
                                                width: calc(100% - 4rem);
                                                margin-left: 4rem;
                                            }
                                        }
                                    }
                                }
                            }

                            a {
                                border-radius: var(--border-radius);
                            }
                        }
                    }
                }
            }
        }
    }
}

.layout-activemenustyle-pill-right {
    .layout-sidebar {
        .layout-sidebar-content {
            .layout-menu {
                .layout-root-menuitem {
                    .layout-submenu {
                        .layout-submenu-item {
                            padding: 0 1.5rem 0 0;

                            .layout-submenu {
                                .layout-submenu-item {
                                    a {
                                        padding-left: calc(
                                            15px + 1.5rem + 2rem
                                        );
                                    }

                                    .layout-submenu {
                                        .layout-submenu-item {
                                            a {
                                                padding-left: calc(
                                                    15px + 1.5rem + 2rem + 2rem
                                                );
                                            }
                                        }
                                    }
                                }
                            }

                            a {
                                border-top-right-radius: 20px;
                                border-bottom-right-radius: 20px;
                                padding-left: calc(15px + 1.5rem);
                            }
                        }
                    }
                }
            }
        }
    }
}

.layout-activemenustyle-pill-all {
    .layout-sidebar {
        .layout-sidebar-content {
            .layout-menu {
                .layout-root-menuitem {
                    .layout-submenu {
                        .layout-submenu-item {
                            padding: 0 1.5rem 0 1.5rem;

                            .layout-submenu {
                                .layout-submenu-item {
                                    a {
                                        width: calc(100% - 2rem);
                                        margin-left: 2rem;
                                    }

                                    .layout-submenu {
                                        .layout-submenu-item {
                                            a {
                                                width: calc(100% - 4rem);
                                                margin-left: 4rem;
                                            }
                                        }
                                    }
                                }
                            }

                            a {
                                border-radius: 17px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.layout-activemenustyle-full-width {
    .layout-sidebar {
        .layout-sidebar-content {
            .layout-menu {
                .layout-root-menuitem {
                    .layout-submenu {
                        .layout-submenu-item {
                            .layout-submenu {
                                .layout-submenu-item {
                                    a {
                                        padding-left: calc(
                                            15px + 1.5rem + 2rem
                                        );
                                    }

                                    .layout-submenu {
                                        .layout-submenu-item {
                                            a {
                                                padding-left: calc(
                                                    15px + 1.5rem + 2rem + 2rem
                                                );
                                            }
                                        }
                                    }
                                }
                            }

                            a {
                                padding-left: calc(15px + 1.5rem);
                            }
                        }
                    }
                }
            }
        }
    }
}

.layout-submenu-enter-from,
.layout-submenu-leave-to {
    max-height: 0;
}

.layout-submenu-enter-to,
.layout-submenu-leave-from {
    max-height: 1000px;
}

.layout-submenu-leave-active {
    overflow: hidden;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}

.layout-submenu-enter-active {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}
