.layout-topbar {
    width: 100%;
    max-width: 1440px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .layout-help-nav {
        display: flex;
        gap: 0.5rem;
    }
}
