.span-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    width: 3rem;
    height: 3rem;
    aspect-ratio: 1/1;

    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: var(--icon-color-secondary);

    border: 2px solid transparent;
    border-radius: var(--border-radius);

    transition: all 0.2s ease;

    &.right-labeled,
    &.left-labeled {
        width: fit-content;
        padding: 0 5px;
        aspect-ratio: unset;
        text-transform: capitalize;
        text-wrap: nowrap;
    }

    &:focus {
        border: 2px solid var(--primary-a);
        background-color: var(--primary-a0);
    }
    &:hover {
        background-color: var(--primary-a0);
    }
}

.d-card {
    width: 100%;
    min-height: 1rem;
    padding: 2rem 1.5rem;
    overflow-x: hidden;

    border: 1px solid var(--surface-border);
    background-color: var(--surface-card);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-set);
}

.d-sideicon-set {
    position: relative;
    display: flex;
    align-items: center;

    & span:first-child,
    i:first-child {
        position: absolute;
        width: 1.5rem;
        color: var(--text-color-secondary);
        left: 0.5rem;
        z-index: 2;
        user-select: none;
        font-size: 1.5rem;
    }

    &.d-input-iconleft {
        input {
            padding-left: 2.5rem !important;
        }
    }

    .d-input-iconright {
        padding-right: 2.5rem !important;
    }
}

.d-plusmin-button-set {
    display: flex;
    gap: 0.5rem;

    input {
        width: 3.8rem;
        padding: 0 8px;
        text-align: center;
    }

    button {
        padding: 0 !important;
        height: 2rem;
        width: 2rem;
    }
}
