.auth-layout-wrapper {
    width: 100dvw;
    height: 100dvh;
    padding: 1rem 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #34d399;

    ::-moz-selection {
        /* Code for Firefox */
        background: rgba(52, 211, 153, 50%);
        color: rgba(57, 63, 92, 0.87);
    }

    ::selection {
        background: rgba(52, 211, 153, 50%);
    }
}

.auth-layout-top {
    display: flex;
    justify-content: center;
    padding: 15px 0;

    span {
        text-transform: uppercase;
        color: #dfdfdf;
    }
}

.auth-layout-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-layout-bottom {
    .footer-container {
        & > span {
            color: #dfdfdf;
        }

        & > div {
            a {
                color: #dfdfdf;

                svg {
                    fill: #dfdfdf;
                }
            }
        }
    }
}

.content-wrapper {
    width: 100%;
    padding: 1rem;

    .d-card {
        padding: 2rem 2rem;
    }
}

@media screen and (min-width: 640px) {
    .content-wrapper {
        width: 30rem;
    }
}

@media screen and (min-width: 992px) {
    .content-wrapper {
        width: 35rem;
    }
}
